.body{
    background-color: rgb(6, 59, 20);
}
.h2{
    color: blue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.section-img{
    margin-left: auto;
    flex: left;
    margin: 5px;
}